<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p> &copy; 2023 Your Company. All rights reserved.</p>
            </div>
        </div>
    </div>
<!-- Scripts -->

<script>
    document.querySelectorAll("btn").forEach((btn) => {
    btn.addEventListener("click", function () {
      console.log("A button was clicked:", this.textContent);
    });
  });
</script>

     <script src="/js/admin_js/pagination.js"></script>
    <script src="/js/admin_js/admin.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>

